appdirs==1.4.4
astroid==2.9.3
click==8.1.2
colorama==0.4.4
ConfigUpdater==3.0.1
coverage==6.3.1
Flask==2.1.1
gunicorn==20.1.0
importlib-metadata==4.11.3
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.1
lazy-object-proxy==1.7.1
loguru==0.6.0
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.2
peewee==3.14.8
platformdirs==2.4.1
psycopg2-binary==2.9.3
pylint==2.12.2
pyparsing==2.4.7
PyScaffold==4.1.1
setuptools-scm==6.3.2
toml==0.10.2
tomli==1.2.2
tomlkit==0.7.2
typing_extensions==4.0.1
Werkzeug==2.1.1
win32-setctime==1.1.0
wrapt==1.13.3
zipp==3.8.0
